<header>
    <nav>
        <div class="nav-left">
            <a href="/" class="logo">🎟️ Event Ticketing</a>
            <a href="/">หน้าหลัก</a>
            <a href="#">อีเวนต์</a>
        </div>

        <div class="nav-right">
            <% if (user) { %>
                <span class="user-name"> <%= user.username %></span>
                <a href="/api/logout" class="logout-btn">ออกจากระบบ</a>
                <% } else { %>
                    <a href="/select_login" class="logout-btn" style="background-color:#4f46e5">เข้าสู่ระบบ</a>
                    <% } %>
        </div>
    </nav>

</header>