<%- include('includes/head') %>
<link rel="stylesheet" href="../styles/login_select.css">
</head>

<body>
    <%- include('includes/nav') %>

        <main class="selection-main">
            <h1>เข้าสู่ระบบ / สมัครสมาชิก</h1>
            <p>กรุณาเลือกประเภทผู้ใช้ของคุณ</p>

            <div class="card-container">
                <a href="/attendee" class="user-card">
                    <img src="/images/attendee.png" alt="Attendee" />
                    <h2 class="attendee-title">ผู้เข้าร่วม (Attendee)</h2>
                    <p class="card-description">สำหรับผู้ที่ต้องการจองตั๋วและเข้าร่วมอีเวนต์</p>
                </a>

                <a href="/organizer" class="user-card">
                    <img src="/images/organizer.png" alt="Organizer" />
                    <h2 class="organizer-title">ผู้จัดงาน (Organizer)</h2>
                    <p class="card-description">สำหรับผู้ที่ต้องการสร้างและจัดการอีเวนต์</p>
                </a>
            </div>
        </main>

        <%- include('includes/footer') %>
</body>

</html>