<%- include('includes/head') %>
    </head>

    <body>
        <%- include('includes/nav') %>

            <h2>สมัครสมาชิกสำหรับผู้จัดงาน (Organizer)</h2>
            <form action="/register/organizer" method="POST">
                <input type="text" name="username" placeholder="ชื่อผู้ใช้" required>
                <input type="email" name="email" placeholder="อีเมล" required>
                <input type="password" name="password" placeholder="รหัสผ่าน" required>
                <button type="submit">สมัครสมาชิก</button>
            </form>

            <%- include('includes/footer') %>
    </body>
    </html>