<%- include('includes/head') %>
<link rel="stylesheet" href="../styles/form.css">
    </head>

    <body>
        <%- include('includes/nav') %>

            <main class="main-content">
                <div class="form-container">
                    <h2>สมัครสมาชิกสำหรับผู้จัดงาน (Organizer)</h2>
                    <form action="/register/organizer" method="POST">
                        <input type="text" name="username" placeholder="ชื่อผู้ใช้" required>
                        <input type="email" name="email" placeholder="อีเมล" required>
                        <input type="password" name="password" placeholder="รหัสผ่าน" required>
                        <button type="submit">สมัครสมาชิก</button>
                    </form>
                </div>
            </main>

            <%- include('includes/footer') %>
    </body>

    </html>